/* COLOR CODES */
/*
#faf0af         /* light yellow */

/*	FOR	DEVO ONLY */
/* header, footer,	nav, main, section, div {			
	border:	1px	solid red;	
}	*/


/* BROWSER RESETS */
body, body * {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  height:100%;
}

/* GLOBAL STYLES */

 body {
    font-family: "Chilanka";
    font-size: 20px;
    color:#2c3e50;
    background-color: #faf0af;
    height: auto;
 }

 p, ul{
  margin: 0 0 .75em 0;	
}

img {
  border-radius: 25px;
}


/* NAVIGATION */
nav li {
	list-style: none;	
}

#nav-main {
	background-color:#8bcdcd;	/* rust */
  padding: 1em 5%;	
  overflow: hidden;
}

#nav-main li {
	float: left;
  margin-right: 6em;
  border-right: 2px solid #f9d56e;
  padding-right: 15px;
}

a:link,
a:visited {
	color: #2c3e50;         
	text-decoration: none;
}

a:hover,
a:focus {
	color: #f9d56e;        
	text-decoration: none;
}

/* Layout */

#footer {
  font-size: 10px;;
  padding: 1em 5%;
  background-color:  #8bcdcd;
}



#smile {
  float: right;
  padding-right:150px;
  padding-top: 50px;
}


#login {
    text-align: center;
    margin-top: 10px;
  }

#about {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 1.6; 
  }

  .welcomeinfor {
    font-weight: bold;
    font-size: 22px;
  }

  .router-link-active {
    color: #f00;
  }
 
  .setCatg {
    background-color: #f1c5c5;
    width: 600px;
    border-radius: 10px;
    left:30%;
    position: relative;
    padding:10px;
    margin-bottom: 10px;
  }

  .setCatg ul li{
    list-style-position: inside;
  }

  .setTask {
    width: 600px;
    left:28%;
    position: relative;
  }

  /* Elements */
  .google-signin-button {
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    border-style: unset;
    outline: none;
  }
  
  #login-button-img {
    border-radius: 0px;
    position: relative;
    left: 365px;
    bottom: 65px
  }
  
  .google-signout-button {
    display: inline-block;
    background: #4285F4;
    color: white;
    width: 100px;
    height: 38px; 
    border-radius: 0px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    position: relative;
    left: 365px;
    bottom: 60px
  }

  .timer-button {
    background-color: #8bcdcd;
    padding: 11px 22px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.timer-button:hover {
  background-color: #e5edb7;
  color: #2c3e50;
  font-weight: 300;
}


.input {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px;
  border-radius: 10px;
  border:none;
}

.input:focus {
  outline: none;
  border: 5px solid #8bcdcd;
  /*box-shadow: 0 0 0 4px rgb(174, 219, 255);*/
}

/* Timer */