/* COLOR CODES */
/*
#faf0af         /* light yellow */

/*	FOR	DEVO ONLY */
/* header, footer,	nav, main, section, div {			
	border:	1px	solid red;	
}	


/* BROWSER RESETS */
body, body * {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  height:100%;
}

/* GLOBAL STYLES */

 body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:#2c3e50;
    background-color: #faf0af  ;
 }

 p, ul {
  margin: 0 0 .75em 0;	
}

img {
  border-radius: 25px;
}


/* NAVIGATION */
nav li {
	list-style: none;	
	margin: 0;	
}

#nav-main {
	background-color:#8bcdcd;	/* rust */
  padding: 1em 5%;	
  overflow: hidden;
}

#nav-main li {
  font-size: 20px;
	float: left;
  margin-right: 6em;
  border-right: 2px solid #f9d56e;
  padding-right: 15px;
}

a:link,
a:visited {
	color: #2c3e50;         
	text-decoration: none;
}

a:hover,
a:focus {
	color: #f9d56e;        
	text-decoration: none;
}

/* Layout */


 #loginButton {
  padding: 22.5em 10%;
} 

div.loginfor {
  padding-top: 2.5em;
  color:#8bcdcd;
}



#footer {
  font-size: 10px;;
  padding: 1em 5%;
  background-color:  #8bcdcd;
}

#logo {
  size: 150%;
  margin-bottom: 3em;
}

#about-pic {
  float: right;
  padding-right:150px;
  padding-top: 50px;
}

#app {
    /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

#login-page {
    /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

#about-content {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 132px;
    line-height: 1.6; 
  }

  .router-link-active {
    color: #f00;
  }


  /* ELEMENTS */
  .google-signin-button {
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    border-style: unset;
    outline: none;
  }

  img.google-signin-button {
      border-radius: 0px;
  }

  .google-signout-button {
    display: inline-block;
    background: #4285F4;
    color: white;
    width: 185px;
    height: 38px;
    border-radius: 0px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    vertical-align: middle;
  }
