/* BEGIN TIMER */

.timer {
    position: relative;
    width: 500px;
    height: 300px;
    margin: auto;
}

.timer-svg {
    transform: scaleX(-1);
}

.timer-circle {
    fill: none;
    stroke: none;
}

.timer-path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.timer-path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
    color: red;
}

.timer-countdown {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.timer-button-group {
    margin: auto;
    width: 800px;
}



/* END TIMER */

h1 {
    padding-top: 80px;
}




.category-list {
    /* padding-left:40px; */
    font-size: 30px;
}

.task-list {
    /* padding-left:60px; */
    font-size: 20px;
}

/* the background of the timer progressbar */

#timer-progressbar-background {
    width: 80%;
    margin: auto;
    background-color: #ddd;
}

/* the foreground of the timer progressbar */

#timer-progressbar {
    width: 0%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(0, 255, 0) , red)
}

/* This is for css testing only, because the css testing page doesn't have 
  js support so it can't simulate the timer tick function. This style sets 
  the width to 50% so we can easily see the timer colors */

#timer-progressbar-testing {
    width: 50%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(0, 255, 0) , red)
}